{{ $url := .Site.BaseURL }}
<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"><a href="{{ $url }}">{{ .Site.Title }}</a></h1>
    <div class="grid">
      <div class="row">
            <div class="col-xs-12 masonry-item">
                <div class="box-masonry">
                      <a href="{{ $url }}/about/" title="About 58 Liters" class="box-masonry-image with-hover-overlay">
                          <img src="{{ $url }}/img/osprey.jpg" alt="Osprey 58 Backpack" class="img-responsive">
                      </a>
                    <div class="box-masonry-hover-text-header">
                      <h4><a href="{{ $url }}/about/">The Story</a></h4>
                    </div>
                </div>
            </div>
      </div>
    </div>

    <!-- <img class="sidebar-image" src="img/osprey.jpg"/> -->
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ $url }}/{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ partial "socialButtonsInSideBar.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>
  </div>
</div>
